@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cl-card {
  @apply bg-dark-secondary
}

.cl-footer {
  background: linear-gradient(to bottom, #1C1F2E, #1C1F2E) !important;
}

.cl-formFieldInput {
  @apply bg-dark-tertiary
}

.cl-formFieldInput {
  color: white;
}

.cl-formButtonPrimary {
  background-color: #0E78F9 !important;
}

.cl-socialButtonsBlockButton {
  @apply !border-2 !border-dark-tertiary w-fit p-4
}

.cl-socialButtonsProviderIcon__github {
  @apply invert
}

.cl-socialButtonsBlockButtonText {
  @apply max-md:hidden
}

.cl-socialButtons {
  @apply flex gap-3 justify-start
}


.cl-socialButtonsBlockButtonText {
  color: rgb(116, 118, 134);
}

.cl-headerTitle {
  color: white;
  display: flex;
  justify-content: flex-start;
}

.cl-headerSubtitle {
  display: flex;
  justify-content: flex-start;
}

.cl-formFieldLabel {
  color: white;
}

.cl-footerActionLink {
  @apply text-blue hover:text-blue
}

.cl-formFieldInputShowPasswordButton {
  @apply invert
}

@layer base {
  /* Remove scrollbar */
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  ::webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

.cl-userButtonPopoverActionButton, .cl-userPreview {
  @apply bg-dark-secondary
}