@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cl-card {
  @apply bg-dark-secondary
}

.cl-footer {
  background: linear-gradient(to bottom, #1C1F2E, #1C1F2E) !important;
}

.cl-formFieldInput {
  @apply bg-dark-tertiary
}

.cl-formFieldInput {
  color: white;
}

.cl-formButtonPrimary {
  background-color: #0E78F9 !important;
}

.cl-socialButtonsBlockButton {
  @apply !border-2 !border-dark-tertiary w-fit p-4
}

.cl-socialButtonsProviderIcon__github {
  @apply invert
}

.cl-socialButtonsBlockButtonText {
  @apply max-md:hidden
}

.cl-socialButtons {
  @apply flex gap-3 justify-start
}


.cl-socialButtonsBlockButtonText {
  color: rgb(116, 118, 134);
}

.cl-headerTitle {
  color: white;
  display: flex;
  justify-content: flex-start;
}

.cl-headerSubtitle {
  display: flex;
  justify-content: flex-start;
}

.cl-formFieldLabel {
  color: white;
}

.cl-footerActionLink {
  @apply text-blue hover:text-blue
}

.cl-formFieldInputShowPasswordButton {
  @apply invert
}

@layer base {
  /* Remove scrollbar */
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  ::webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
  :root {
    --radius: 0.5rem;
  }
}

.cl-userButtonPopoverActionButton, .cl-userPreview {
  @apply bg-dark-secondary
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

.str-video {
  background-color: #272a30;
  color: #ffffff;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
}